@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

header {
    background-color: rgb(230, 222, 222);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color: rgb(150, 20, 20);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
  }
  
  .navigation a {
    text-decoration: none;
    color: rgb(150, 20, 20);
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
  }
  
  .navigation a:hover {
    color: rgb(104, 15, 15);
  }
  .user-menu {
    position: relative;
    background-color: aqua;
    font-size: 18px;
    font-style: initial;
    text-align: center;
    
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }